<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.expopay.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="南博卡"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AboutActivity"></activity>
        <activity android:name=".activity.MainAcativity"></activity>

        <activity android:name=".activity.CardDetailsActivity"></activity>
        <activity android:name=".activity.CardChargeActivity"></activity>
        <activity android:name=".activity.ChangePasswordActivity"></activity>
        <activity android:name=".activity.ChangePayPasswordActivity"></activity>
        <activity android:name=".activity.ChangePasswordQuestionAcitivy"></activity>
        <activity android:name=".activity.ChangeMobileActivity"></activity>
        <activity android:name=".activity.ChooseCompanyActivity"></activity>
        <activity android:name=".activity.ChoosePeriodActivity"></activity>
        <activity android:name=".activity.ChoosePropertiesActivity"></activity>

        <activity android:name=".activity.LoginByPasswordActivity"></activity>
        <activity android:name=".activity.LoginByVerifycodeActivity"></activity>

        <activity android:name=".activity.MyCardsActivity"></activity>
        <activity android:name=".activity.MyBillsActivity"></activity>
        <activity android:name=".activity.MyOrderActivity"></activity>

        <activity android:name=".activity.OrderDetailActivity"></activity>
        <activity android:name=".activity.OrderDetailCommitActivity"></activity>
        <activity android:name=".activity.OrderDetailCancelActivity"></activity>
        <activity android:name=".activity.OrderDetailItemActivity"></activity>

        <activity android:name=".activity.SettingsActivity"></activity>

        <activity android:name=".activity.ProductDetailsActivity"></activity>

        <activity android:name=".activity.WegQueryTransActivity"></activity>
        <activity android:name=".activity.WebActivity"></activity>
    </application>
</manifest>
